<div class="card">
    <div class="card-body">
        <h4 class="card-title">Nicht angemeldet!</h4>
        <p class="card-text">Sie müssen angemeldet sein um diese Seite zu sehen.</p>
    </div>
</div>