@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Forgot Password - Sent email"];
}

<div class="card bg-secondary mb-3 m-auto" style="max-width: 700px">
    <div class="card-header text-center text-white">@Localizer["Forgot Password - Sent email"]</div>

    <div class="card-body bg-light text-center">
            <div class="form-group mt-3">
                @Localizer["The email has been sent. Please check your email to reset your password."]
            </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}