@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Reset Password Confirmation"];
}

<div class="card bg-secondary mb-3">
    <div class="card-header text-center text-white">@Localizer["Reset Password Confirmation"]</div>

    <div class="card-body bg-light text-center">
            <div class="form-group mt-3">
            @Localizer["Password has been reset."]
            </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}