@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model RoomReservation.Models.AccountViewModels.ResetPasswordViewModel.ResetPassword

@{
    ViewData["Title"] = Localizer["Reset Password"];
}

<div class="card bg-secondary mb-3 m-auto" style="max-width: 330px">
    <div class="card-header text-center text-white">@Localizer["Reset Password"]</div>

    <div class="card-body bg-light text-center">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="alert-danger"></div>
            <div class="form-group mt-3">
                <input type="password" asp-for="Password" class="form-control" placeholder="New Password"/>
                <br/>
                <input type="password" asp-for="PasswordConfirm" class="form-control" placeholder="Confirm Password" />
            </div>
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            <div class="form-group mt-3">
                <input type="submit" value="@Localizer["Submit"]" class="btn btn-primary"/>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}